.flame-graph-panel {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column-reverse;
  overflow-y: auto;
}

.d3-flame-graph .label {
  background-color: transparent;
}
