.flame-graph-panel {
  display: flex;
  align-items: center;
/*  justify-content: center; */
  flex-direction: column-reverse;
  overflow: auto;
}

.flame-graph-panel #chart {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.d3-flame-graph {
  display: flex;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.d3-flame-graph .label {
  background-color: transparent;
}